 
.buttons{ display: grid;
grid-template-columns: repeat(4, 1ifr);
grid-gap: 20px;
padding: 20px;
}



.buttons button {
    width: 20%;
    height: 100%;
  }
#wrap{
display: flex;
min-height: 100vh;
justify-content: center;
align-items: center;

  }